@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: #e4e4e468;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: #4c3d3d;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  background: var(--background-start-rgb);
}

.remove-bg {
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}
